In [1]:
import pandas as pd

In [2]:
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [3]:
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,996,1026,1092,1176,1279,1351,1463,1531,1703,1828
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,562,584,609,634,663,678,712,726,736,750
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2629,2718,2811,2910,3007,3127,3256,3382,3517,3649
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,713,717,717,723,723,731,738,738,743,743
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,24,24,25,25,25,25,26,27,27

In [25]:
list(confirmed_df.columns[4: ])

['1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20']

In [4]:
confirmed_processed = pd.melt(confirmed_df, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_vars=list(confirmed_df.columns[4: ]), var_name='date', value_name='confirmed')

In [5]:
confirmed_processed.head()

  Province/State Country/Region      Lat     Long     date  confirmed
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [7]:
deaths_df = pd.read_csv('https://raw.github.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recovered_df = pd.read_csv('https://raw.github.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [8]:
deaths_processed = pd.melt(deaths_df, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_vars=list(deaths_df.columns[4: ]), var_name='date', value_name='deaths')

In [20]:
deaths_processed

,Province/State,Country/Region,Lat,Long,date,deaths
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
5,NaN,Antigua and Barbuda,17.060800,-61.796400,1/22/20,0
6,NaN,Argentina,-38.416100,-63.616700,1/22/20,0
7,NaN,Armenia,40.069100,45.038200,1/22/20,0
8,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0
9,New South Wales,Australia,-33.868800,151.209300,1/22/20,0
10,Northern Territory,Australia,-12.463400,130.845600,1/22/20,0
11,Queensland,Australia,-28.016700,153.400000,1/22/20,0
12,South Australia,Australia,-34.928500,138.600700,1/22/20,0
13,Tasmania,Australia,-41.454500,145.970700,1/22/20,0
14,Victoria,Australia,-37.813600,144.963100,1/22/20,0
15,Western Australia,Australia,-31.950500,115.860500,1/22/20,0
16,NaN,Austria,47.516200,14.550100,1/22/20,0
17,NaN,Azerbaijan,40.143100,47.576900,1/22/20,0
18,NaN,Bahamas,25.034300,-77.396300,1/22/20,0
19,NaN,Bahrain,26.027500,50.550000,1/22/20,0
20,NaN,Bangladesh,23.685000,90.356300,1/22/20,0
21,NaN,Barbados,13.193900,-59.543200,1/22/20,0
22,NaN,Belarus,53.709800,27.953400,1/22/20,0
23,NaN,Belgium,50.833300,4.000000,1/22/20,0
24,NaN,Benin,9.307700,2.315800,1/22/20,0
25,NaN,Bhutan,27.514200,90.433600,1/22/20,0
26,NaN,Bolivia,-16.290200,-63.588700,1/22/20,0
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,1/22/20,0
28,NaN,Brazil,-14.235000,-51.925300,1/22/20,0
29,NaN,Brunei,4.535300,114.727700,1/22/20,0
...,...,...,...,...,...,...
25578,NaN,Mozambique,-18.665695,35.529562,4/27/20,0
25579,NaN,Syria,34.802075,38.996815,4/27/20,3
25580,NaN,Timor-Leste,-8.874217,125.727539,4/27/20,0
25581,NaN,Belize,13.193900,-59.543200,4/27/20,2
25582,Recovered,Canada,0.000000,0.000000,4/27/20,0
25583,NaN,Laos,19.856270,102.495496,4/27/20,0
25584,NaN,Libya,26.335100,17.228331,4/27/20,2
25585,NaN,West Bank and Gaza,31.952200,35.233200,4/27/20,2
25586,NaN,Guinea-Bissau,11.803700,-15.180400,4/27/20,1
25587,NaN,Mali,17.570692,-3.996166,4/27/20,23
25588,NaN,Saint Kitts and Nevis,17.357822,-62.782998,4/27/20,0
25589,Northwest Territories,Canada,64.825500,-124.845700,4/27/20,0
25590,Yukon,Canada,64.282300,-135.000000,4/27/20,0
25591,NaN,Kosovo,42.602636,20.902977,4/27/20,12
25592,NaN,Burma,21.916200,95.956000,4/27/20,5
25593,Anguilla,United Kingdom,18.220600,-63.068600,4/27/20,0
25594,British Virgin Islands,United Kingdom,18.420700,-64.640000,4/27/20,1
25595,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,4/27/20,1
25596,NaN,MS Zaandam,0.000000,0.000000,4/27/20,2
25597,NaN,Botswana,-22.328500,24.684900,4/27/20,1
25598,NaN,Burundi,-3.373100,29.918900,4/27/20,1
25599,NaN,Sierra Leone,8.460555,-11.779889,4/27/20,4
25600,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,4/27/20,0
25601,NaN,Malawi,-13.254308,34.301525,4/27/20,3
25602,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,4/27/20,0
25603,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/27/20,0
25604,NaN,South Sudan,6.877000,31.307000,4/27/20,0
25605,NaN,Western Sahara,24.215500,-12.885800,4/27/20,0
25606,NaN,Sao Tome and Principe,0.186360,6.613081,4/27/20,0
25607,NaN,Yemen,15.552727,48.516388,4/27/20,0

In [10]:
recovered_processed = pd.melt(recovered_df, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_vars=list(recovered_df.columns[4: ]), var_name='date', value_name='recovered')

In [22]:
recovered_processed

,Province/State,Country/Region,Lat,Long,date,recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
5,NaN,Antigua and Barbuda,17.060800,-61.796400,1/22/20,0
6,NaN,Argentina,-38.416100,-63.616700,1/22/20,0
7,NaN,Armenia,40.069100,45.038200,1/22/20,0
8,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0
9,New South Wales,Australia,-33.868800,151.209300,1/22/20,0
10,Northern Territory,Australia,-12.463400,130.845600,1/22/20,0
11,Queensland,Australia,-28.016700,153.400000,1/22/20,0
12,South Australia,Australia,-34.928500,138.600700,1/22/20,0
13,Tasmania,Australia,-41.454500,145.970700,1/22/20,0
14,Victoria,Australia,-37.813600,144.963100,1/22/20,0
15,Western Australia,Australia,-31.950500,115.860500,1/22/20,0
16,NaN,Austria,47.516200,14.550100,1/22/20,0
17,NaN,Azerbaijan,40.143100,47.576900,1/22/20,0
18,NaN,Bahamas,25.034300,-77.396300,1/22/20,0
19,NaN,Bahrain,26.027500,50.550000,1/22/20,0
20,NaN,Bangladesh,23.685000,90.356300,1/22/20,0
21,NaN,Barbados,13.193900,-59.543200,1/22/20,0
22,NaN,Belarus,53.709800,27.953400,1/22/20,0
23,NaN,Belgium,50.833300,4.000000,1/22/20,0
24,NaN,Belize,13.193900,-59.543200,1/22/20,0
25,NaN,Benin,9.307700,2.315800,1/22/20,0
26,NaN,Bhutan,27.514200,90.433600,1/22/20,0
27,NaN,Bolivia,-16.290200,-63.588700,1/22/20,0
28,NaN,Bosnia and Herzegovina,43.915900,17.679100,1/22/20,0
29,NaN,Brazil,-14.235000,-51.925300,1/22/20,0
...,...,...,...,...,...,...
24220,Gibraltar,United Kingdom,36.140800,-5.353600,4/27/20,131
24221,Isle of Man,United Kingdom,54.236100,-4.548100,4/27/20,248
24222,Montserrat,United Kingdom,16.742500,-62.187400,4/27/20,2
24223,NaN,United Kingdom,55.378100,-3.436000,4/27/20,0
24224,NaN,Uruguay,-32.522800,-55.765800,4/27/20,386
24225,NaN,US,37.090200,-95.712900,4/27/20,111424
24226,NaN,Uzbekistan,41.377500,64.585300,4/27/20,892
24227,NaN,Venezuela,6.423800,-66.589700,4/27/20,142
24228,NaN,Vietnam,16.000000,108.000000,4/27/20,225
24229,NaN,Zambia,-15.416700,28.283300,4/27/20,42
24230,NaN,Zimbabwe,-20.000000,30.000000,4/27/20,5
24231,NaN,West Bank and Gaza,31.952200,35.233200,4/27/20,83
24232,NaN,Laos,19.856270,102.495496,4/27/20,7
24233,NaN,Kosovo,42.602636,20.902977,4/27/20,93
24234,NaN,Burma,21.916200,95.956000,4/27/20,16
24235,Anguilla,United Kingdom,18.220600,-63.068600,4/27/20,3
24236,British Virgin Islands,United Kingdom,18.420700,-64.640000,4/27/20,3
24237,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,4/27/20,5
24238,NaN,MS Zaandam,0.000000,0.000000,4/27/20,0
24239,NaN,Botswana,-22.328500,24.684900,4/27/20,0
24240,NaN,Burundi,-3.373100,29.918900,4/27/20,4
24241,NaN,Sierra Leone,8.460555,-11.779889,4/27/20,10
24242,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,4/27/20,0
24243,NaN,Malawi,-13.254308,34.301525,4/27/20,4
24244,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,4/27/20,11
24245,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/27/20,0
24246,NaN,South Sudan,6.877000,31.307000,4/27/20,0
24247,NaN,Western Sahara,24.215500,-12.885800,4/27/20,5
24248,NaN,Sao Tome and Principe,0.186360,6.613081,4/27/20,0
24249,NaN,Yemen,15.552727,48.516388,4/27/20,1

In [12]:
from functools import reduce

In [21]:
covid_data = [confirmed_processed, deaths_processed, recovered_processed]

In [23]:
covid_merged = reduce(lambda left, right: pd.merge(left, right, on=['Province/State', 'Country/Region', 'Lat', 'Long', 'date'], how='outer'), covid_data).fillna(0)

In [24]:
covid_merged

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered
0,0,Afghanistan,33.000000,65.000000,1/22/20,0.0,0.0,0.0
1,0,Albania,41.153300,20.168300,1/22/20,0.0,0.0,0.0
2,0,Algeria,28.033900,1.659600,1/22/20,0.0,0.0,0.0
3,0,Andorra,42.506300,1.521800,1/22/20,0.0,0.0,0.0
4,0,Angola,-11.202700,17.873900,1/22/20,0.0,0.0,0.0
5,0,Antigua and Barbuda,17.060800,-61.796400,1/22/20,0.0,0.0,0.0
6,0,Argentina,-38.416100,-63.616700,1/22/20,0.0,0.0,0.0
7,0,Armenia,40.069100,45.038200,1/22/20,0.0,0.0,0.0
8,Australian Capital Territory,Australia,-35.473500,149.012400,1/22/20,0.0,0.0,0.0
9,New South Wales,Australia,-33.868800,151.209300,1/22/20,0.0,0.0,0.0
10,Northern Territory,Australia,-12.463400,130.845600,1/22/20,0.0,0.0,0.0
11,Queensland,Australia,-28.016700,153.400000,1/22/20,0.0,0.0,0.0
12,South Australia,Australia,-34.928500,138.600700,1/22/20,0.0,0.0,0.0
13,Tasmania,Australia,-41.454500,145.970700,1/22/20,0.0,0.0,0.0
14,Victoria,Australia,-37.813600,144.963100,1/22/20,0.0,0.0,0.0
15,Western Australia,Australia,-31.950500,115.860500,1/22/20,0.0,0.0,0.0
16,0,Austria,47.516200,14.550100,1/22/20,0.0,0.0,0.0
17,0,Azerbaijan,40.143100,47.576900,1/22/20,0.0,0.0,0.0
18,0,Bahamas,25.034300,-77.396300,1/22/20,0.0,0.0,0.0
19,0,Bahrain,26.027500,50.550000,1/22/20,0.0,0.0,0.0
20,0,Bangladesh,23.685000,90.356300,1/22/20,0.0,0.0,0.0
21,0,Barbados,13.193900,-59.543200,1/22/20,0.0,0.0,0.0
22,0,Belarus,53.709800,27.953400,1/22/20,0.0,0.0,0.0
23,0,Belgium,50.833300,4.000000,1/22/20,0.0,0.0,0.0
24,0,Benin,9.307700,2.315800,1/22/20,0.0,0.0,0.0
25,0,Bhutan,27.514200,90.433600,1/22/20,0.0,0.0,0.0
26,0,Bolivia,-16.290200,-63.588700,1/22/20,0.0,0.0,0.0
27,0,Bosnia and Herzegovina,43.915900,17.679100,1/22/20,0.0,0.0,0.0
28,0,Brazil,-14.235000,-51.925300,1/22/20,0.0,0.0,0.0
29,0,Brunei,4.535300,114.727700,1/22/20,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
26936,0,South Sudan,6.877000,31.307000,4/25/20,0.0,0.0,0.0
26937,0,Yemen,15.552727,48.516388,4/25/20,0.0,0.0,1.0
26938,0,Cameroon,3.848000,11.502100,4/26/20,0.0,0.0,786.0
26939,0,Canada,56.130400,-106.346800,4/26/20,0.0,0.0,16883.0
26940,Heilongjiang,China,47.862000,127.761500,4/26/20,0.0,0.0,556.0
26941,Henan,China,33.882000,113.614000,4/26/20,0.0,0.0,1254.0
26942,Shanghai,China,31.202000,121.449100,4/26/20,0.0,0.0,568.0
26943,Yunnan,China,24.974000,101.487000,4/26/20,0.0,0.0,181.0
26944,0,Czechia,49.817500,15.473000,4/26/20,0.0,0.0,2545.0
26945,0,Grenada,12.116500,-61.679000,4/26/20,0.0,0.0,7.0
26946,0,Mozambique,-18.665700,35.529600,4/26/20,0.0,0.0,12.0
26947,0,Syria,34.802100,38.996800,4/26/20,0.0,0.0,14.0
26948,0,Timor-Leste,-8.874200,125.727500,4/26/20,0.0,0.0,2.0
26949,0,Laos,19.856270,102.495496,4/26/20,0.0,0.0,7.0
26950,0,South Sudan,6.877000,31.307000,4/26/20,0.0,0.0,0.0
26951,0,Yemen,15.552727,48.516388,4/26/20,0.0,0.0,1.0
26952,0,Cameroon,3.848000,11.502100,4/27/20,0.0,0.0,805.0
26953,0,Canada,56.130400,-106.346800,4/27/20,0.0,0.0,18268.0
26954,Heilongjiang,China,47.862000,127.761500,4/27/20,0.0,0.0,586.0
26955,Henan,China,33.882000,113.614000,4/27/20,0.0,0.0,1254.0
26956,Shanghai,China,31.202000,121.449100,4/27/20,0.0,0.0,581.0
26957,Yunnan,China,24.974000,101.487000,4/27/20,0.0,0.0,181.0
26958,0,Czechia,49.817500,15.473000,4/27/20,0.0,0.0,2826.0
26959,0,Grenada,12.116500,-61.679000,4/27/20,0.0,0.0,7.0
26960,0,Mozambique,-18.665700,35.529600,4/27/20,0.0,0.0,12.0
26961,0,Syria,34.802100,38.996800,4/27/20,0.0,0.0,19.0
26962,0,Timor-Leste,-8.874200,125.727500,4/27/20,0.0,0.0,2.0
26963,0,Laos,19.856270,102.495496,4/27/20,0.0,0.0,7.0
26964,0,South Sudan,6.877000,31.307000,4/27/20,0.0,0.0,0.0
26965,0,Yemen,15.552727,48.516388,4/27/20,0.0,0.0,1.0